/* === GERAL ===========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.wrapper {
  padding-inline: 2rem;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto';
  text-align: center;
}

img {
  width: 100%;
}

/* === NAVIGATION ===========================*/
#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  padding-block: 2rem;
  background: #290742;
}

/* === HOME ===========================*/
#home {
  margin-inline: auto;
  padding-block: 1.5rem;
  background: #290742;
}

#home h1 {
  font-size: 2.8rem;
  line-height: 100%;
  color: #9e6dc2;
  padding-top: 4rem;
  padding-bottom: 7rem;
}

#home p {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #ffffff;
  margin-top: 7rem;
}
